@import "../../assets/reset.css";

$deepSkyBlue: #00bfff;

@mixin textCenter {
  text-align: center;
}

.header {
  @include textCenter;

  background-color: $deepSkyBlue;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 20px;
}
